<h3 class="first">Basic</h3>
<p-table
  #dt
  [value]="instances"
  [rowHover]="true"
  [paginator]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [rows]="100"
  [filterDelay]="0"
  [loading]="loading"
>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
      <th pSortableColumn="businessKey">
        Business Key <p-sortIcon field="businessKey"></p-sortIcon>
      </th>
      <th pSortableColumn="processDefinitionKey">
        Process Definition
        <p-sortIcon field="processDefinitionKey"></p-sortIcon>
      </th>
      <th pSortableColumn="activityId">
        Activity ID <p-sortIcon field="activityId"></p-sortIcon>
      </th>
    </tr>
    <tr>
      <th>
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'id', 'contains')"
        />
      </th>
      <th>
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'businessKey', 'contains')"
        />
      </th>
      <th>
        <input
          pInputText
          type="text"
          (input)="
            dt.filter($event.target.value, 'processDefinitionKey', 'contains')
          "
        />
      </th>
      <th>
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'activityId', 'contains')"
        />
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-instance>
    <tr>
      <td>{{ instance.id }}</td>
      <td>{{ instance.businessKey }}</td>
      <td>{{ instance.processDefinitionKey }}</td>
      <td>{{ instance.activityId }}</td>
    </tr>
  </ng-template>
</p-table>
