<div class="container-fluid">
  <div class="row">
    <div class="offset-md-8 col-md-4 search">
      <input
        [(ngModel)]="selectedValue"
        [typeahead]="definitions"
        [typeaheadMinLength]="0"
        typeaheadScrollable="true"
        typeaheadOptionsInScrollableView="10"
        typeaheadOptionsLimit="100"
        typeaheadOptionField="name"
        (typeaheadOnSelect)="onSelect($event)"
        class="form-control pull-right"
      />

      <button
        type="button"
        class="btn btn-primary btn-search"
        (click)="search()"
      >
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <table class="table" style="width: 100%;">
        <thead>
          <tr class="row">
            <th class="col-sm-1">ID</th>
            <th class="col-sm-1">Business Key</th>
            <th class="col-sm-1">Definition Key</th>
            <th class="col-sm-3">Activity ID</th>
            <th class="col-sm-4">Variables</th>
            <th class="col-sm-2">Actions</th>
          </tr>
        </thead>
        <tr class="row" *ngFor="let instance of instances.data">
          <td class="col-sm-1">{{ instance.id }}</td>
          <td class="col-sm-1">{{ instance.businessKey }}</td>
          <td class="col-sm-1">{{ instance.processDefinitionKey }}</td>
          <td class="col-sm-3">{{ instance.activityId }}</td>
          <td class="col-sm-4">
            <pre> {{ instance.variables | json }} </pre>
          </td>
          <td class="col-sm-2">
            <i
              class="fa fa-times-circle"
              data-toggle="tooltip"
              data-placement="top"
              title="kill process"
              aria-hidden="true"
              (click)="deleteInstance(instance.id)"
            ></i>

            <i
              class="fa fa-repeat"
              data-toggle="tooltip"
              data-placement="top"
              title="retry process"
              aria-hidden="true"
              (click)="retryInstance(instance.id, instance)"
            ></i>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="navigation text-center">
    <button type="button" class="btn btn-primary" (click)="prev()">prev</button>
    <button type="button" class="btn btn-primary" (click)="next()">next</button>
  </div>
  {{ startPage }}-{{ startPage + pageSize }} of {{ instances.total }}
</div>
