.navbar {
  height: 110px;
  padding: 15px 24px;
  background-color: #29384d;
  background-image: linear-gradient(to right, #29384d, #304e72);
  border: 1px solid;
}

.logo {
  height: 60px;
}

.title {
  font-size: 1.8em;
  color: white;
}

.navbar-nav .nav-link {
  color: white;
}

.navbar-nav .nav-link:hover {
  color: grey;
}

.container-fluid {
  margin-top: 30px;
}

.form-control {
  float: left;
  width: 80%;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.btn-search {
  float: left;
  width: 20%;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.search {
  margin-top: 40px;
  margin-bottom: 100px;
}

.navigation {
  margin: 40px;
}

.fa-times-circle {
  color: rgb(194, 18, 18);
  font-size: 1.9em;
  cursor: pointer;
}

.fa-times-circle:hover {
  color: rgb(139, 13, 13);
}

.fa-repeat {
  color: rgb(51, 145, 221);
  font-size: 1.9em;
  cursor: pointer;
}

.fa-repeat:hover {
  color: rgb(16, 91, 151);
}

pre {
  height: auto;
  max-height: 200px;
  overflow: auto;
  color: #e83e8c;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
