<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="assets/logo.png" class="logo" />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/main">Main</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/smart-table">Table</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/visuals">Visuals</a>
      </li>
    </ul>
  </div>

  <div class="title">
    {{ title }}
  </div>
</nav>

<router-outlet></router-outlet>
